<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<h1> operation is finished </h1>
<table border="1">
    <tr><th><b> 1st number: </b></th><th><%= number1 %></th></tr>
    <tr><th><b> 2nd number: </b></th><th><%= number2 %></th></tr>
    <tr><th><b> operation: </b></th><th><%= operation %></th></tr>
    <tr><th><b> result: </b></th><th><%= resp %></th></tr>
</table>
<form><button type="submit" formaction="/form" > back </button></form>
</body>
<footer></footer>
</html>